.component2-container{
  display: flex;
  align-items: center;
  padding: 20px;

}
.text-container{
  flex: 2;
}
.img-container{
  flex: 1;
}
.text-container p{
  max-width: 400px;
}

.img-container img{
  height:400px;
  width: 400px;
}
.get-started{
  width: 150px;
  height: 30px;
  background: orange;
  border-radius: 5px;
  border: 1px solid orange;
  font-weight: bold;
  color: white;
}
.logo-component-container{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border: 1px solid lightgrey;
  
  margin: 70px;
}
.logo-component{
  background-color: lightgrey;
}
.logo-component img{
  height:40px;
  width: 40px;
}
.navigate-path-main-container{
  border: 1px solid lightgray;
  margin: 30px;
}
.map-journey span{
  background-color:lightgreen;
  color: green;font-weight: bold;
  padding: 3px;
  padding-top: 0;
  font-size: 16px;
}
.navigate-path-text{
  margin-top: 10px;
}
.text-content-container p{
  max-width: 400px;
  color: gray;
  font-size: 14px;
}
.checkbox-component:not(:last-child){
  margin-bottom: 5px;
}
.checkbox-component input[type='checkbox'] {
  accent-color: red;
}
.navigate-path-main-container .img-container{
  margin-left: 20px;
  margin-top: 30px;
}
.navigate-path-main-container .img-container img{
  height:30px;
  width: 30px;
}
.navigate-path-main-container .content-container{
  display: flex;
  align-items: center;

}
.navigate-path-main-container .content-container .left-container{
  flex: 2;
}
.navigate-path-main-container .content-container .right-container{
  flex: 1;
}
.navigate-path-main-container .content-container .right-container img{
  height: 300px;
  width: 300px;
}
.switch-main-container{
  display: flex;
    
    max-width: 300px;
    align-items: center;
    background: lightgray;
    border-radius: 5px;
    /* padding: 10px; */
    /* justify-content: space-between;*/
}
.switch-main-container .switch-left-container{
  background-color: #fff;
  padding: 9px;
  margin: 3px;
  border-radius: 5px;
}
.switch-main-container .switch-left-container .text-container{
  color: green;
  font-weight: bold;
  font-size: 14px;
}

.switch-main-container .switch-right-container{
  margin-left: 30px;
}

.switch-main-container .switch-right-container .text-container{
  color: gray;
  font-weight: bold;
  font-size: 14px;
}
/*Component 4*/
.exchange-point-main-container{
  background-color:#f3f3f37d;
  padding: 20px;
}
.exchange-point-label-container{
  margin-top: 50px;
}
.exchange-point-label{
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  background-color: lightblue;
  color: #4444a3;
}
.vital-role-info-container p{
  font-size: 14px;
  color: gray;
  max-width: 700px;
}
.vital-role-btn-container{
  margin-top: 20px;
}
.vital-role-btn-container button{
  padding: 10px;
    color: #fff;
    background: orange;
    border: 1px solid orange;
    border-radius: 5px;
    font-weight: 600;
}
.thumbnails-container{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.thumbnail-container{
  padding: 20px;
  padding-left: 0;
  max-width: 85%;
}
.thumbnail-header-container{
  font-weight: bold;
}
.thumbnail-info-container{
  font-size: 12px;
  margin-top: 5px;
  color: gray;
}
.thumbnail-icon-container img{
  height:30px;
}
.badge-content{
  background-color: lightblue;
    color: blue;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
}
.ConnectionsNApplications-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top:30px;
  padding: 20px;
}
.ConnectionsNApplications-container .textual-content-container{
  padding: 30px 0 30px 0;
}
.image-main-container{
  text-align: center;
  background-color: lightgrey;
  color: white;
}
.image-container{
  margin-top: 20%;
}
.testimonial-main-container{
  padding: 25px;
  background: black;
  color: #fff;
}
.testimonials-text-container{
  max-width: 400px;
}
.testmonial-card-main-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3%;
  margin-top: 50px;
}
.testimonial-card-container{
padding: 10px;
border: 1px solid #5d5353;
background: #292727;
}
.name-container{
  font-size: 18px;
  font-weight: bold;
}
.country-container{
  font-size: 12px;
  font-weight: bold;
}
.customer-speaks-container{
  margin-top:20px;
  font-size:12px;
}
.user-info-container{
  margin-top:20px;
}
.logo-container{
  margin-top:5px;
}
.logo-container span{
  padding: 5px;
  background: #fff;
  color: black;
  font-size: 10px;
}
.toggle-btn-container{
  background: #ddd;
  max-width: 250px;
  padding: 3px;
  border-radius: 5px;
}
.toggle-button {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
/*.toggle-button.on {
  background-color: #4CAF50;
  color: white;
}

.toggle-button.off {
  background-color: #f44336;
  color: white;
}*/
.toggle-button-off{
  padding: 9px;
  background: #fff;
  border: #fff;
  border-radius: 5px;
  color: green;
  font-weight: bold;
  cursor: pointer;
}
.toggle-button-on{
  
  background: #ddd;
  border: #ddd;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  padding-left: 25px;
}
.padding-right{
  padding-right:38px;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Add more CSS styles as needed */

.parallax{
  width: 600px;
  position: relative;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}

.imageBox{
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 16px;
  background-color: ghostwhite;
  width: 140px;
  height: 128px;
  padding: 16px;
}
.imageBox:nth-child(4){
  grid-column: 2/4;
} 

.overlay {
  position: absolute;
  width: 465px; /* Adjust overlay width as needed */
  height: 425px; /* Adjust overlay height as needed */
  /* background-color: rgba(255, 0, 0, 0.5); Example background color */
  border: 1px solid;
  top: 60px; /* Half of overlay height */
  left: 62px; /* Half of overlay width */
}